/*---------------------------- ALZIMPACT BRAND FONT AND COLORS -----------------------*/
@font-face {
    font-family: 'HouschkaAltPro-Medium';
    src: url('/css/font/HouschkaAltPro-Medium.eot'); /* IE9 Compat Modes */
    src: url('/css/font/HouschkaAltPro-Medium.woff2') format('woff2'), /* Super Modern Browsers */
      url('/css/font/HouschkaAltPro-Medium.woff') format('woff'), /* Pretty Modern Browsers */
      url('/css/font/HouschkaAltPro-MediumItalic.woff') format('woff'),
      url('/css/font/HouschkaAltPro-MediumItalic.eot'),
      url('/css/font/HouschkaAltPro-MediumItalic.woff2') format('woff2')
  }
  
  body {
    font-family: 'Oswald', sans-serif;  
  }
  
  .purple {
    color: #4A0D66;
  }
  
  .gold {
    color: #FFA400;
  }
  
  .teal {
    color: #34D9C3;
  }
  
  .dark-gray {
    color: #58595B;
  }
  
  .gray {
    color: #BCBEC0;
  }
  
  .light-gray {
    color: #F1F2F2;
  }
  
  a {
    color: #FFA400;
  }
  
  a:hover {
    color: #4A0D66;
    text-decoration: none;
  }
  
  /*---------------------------- END BASIC STYLES -----------------------*/
  
  /*---------------------------- FACTSHEET STYLES -----------------------*/



  .factsheet {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(60px, 200px) 2fr;
    grid-template-rows: auto auto;
    grid-column-gap: 2em;
    grid-row-gap: 0em;
    max-width: 800px;
    margin: auto;
    padding: 0px 40px 0px 20px;
  }

  header {
      grid-column: 2 / 3;
      grid-row: 1;
  }

  header > h1 {
    margin: 1em 0px 0.5em 0px; 
    padding: 0px 0px 0px 0px;
  }

  header > p {
    font-size: 0.8em;
    font-style: italic;
    margin: 0px 0px 5px 0px; 
    padding: 0px 0px 0px 0px;
  }

  article {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .factsheet h2 {
    color: #4A0D66;
    padding-top: 16px;
    margin-top: 2em;
    border-top: 8px solid #34D9C3;
  }

  .fs-caption {
    color: #4A0D66;
    text-align: center;
    font-size: 1.3em;
  }

  article p {
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: square;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: outside;
    margin-left: 1em;
  }

  img {
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .pie-chart {
    max-width: 60%;
  }

    /* ------------------ Navigation Styles ------------------ */

    nav {
      grid-column: 1 / 2;
      grid-row: 2;
    }
  
    nav > ul {
      list-style-type: none;
      text-align: right;
      padding: 0px 12px 0px 0px;
      margin: 80px 1em 0px 0px;
      border-right: .5px solid rgb(213, 235, 232);
    }

    nav > ul > li {
      list-style-type: none;
      padding: .5em;
      margin: 0;
    }
    
    nav > ul > li > a {
      color: #4A0D66;
      text-decoration: none; 
    }

    nav > ul > li > a:hover {      
      margin: 0px;
      text-decoration: none; 
      color: #FFA400;
      transition: color 0.2s;
    }